html,
body {
    height: 100%;
}

body {
    display: flex;
    align-items: flex-start;
    background-color: #181a1b;
    color: #e8e6e3;
    font-family: 'Lato', serif;
    overflow-x: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover, a:focus {
    color: rgb(92, 175, 253);
    text-decoration-color: rgb(32, 66, 97);
}

h1 {
    font-size: 64px;
    letter-spacing: 1.2px;
}

h2 {
    font-size: 24px;
    letter-spacing: 1.1px;
}

h2 a {
    text-decoration: underline;
    text-decoration-color: #464646;
}

h5 {
    font-size: 28px;
    font-weight: revert;
    letter-spacing: 1px;
    margin-bottom: 0;
    line-height: 28px;
    margin-top: 7px;
}

hr {
    margin-top: 3rem;
    margin-bottom: 3rem;
    border-width: 0;
    opacity: initial;
    height: unset !important;
    border-top: 1px solid rgb(56, 61, 64);
}

.fixed-btn {
    height: 38px;
    margin: auto 0 auto 5px;
    white-space: nowrap;
}

@media (max-width: 1080px) {
    hr {
        margin-left: 6%;
        margin-right: 6%;
    }
}

.col-md-3, .col-md-9 {
    padding-left: 0;
    padding-right: 0;
}

.site-layout {
    width: 960px;
    max-width: 960px;
    padding: 15px 0;
    margin: 0 auto;
}

.header-container {
    padding-top: 5px;
    padding-bottom: 20px;
}

.profile-circle {
    width: 260px;
    border-radius: 50%;
}

@media (min-width: 768px) {

    .profile-picture {
        width: fit-content !important;
        margin-right: 25px;
    }

    .profile-details {
        width: calc(100% - 285px) !important;
    }
}

@media (max-width: 768px) {

    .profile-picture {
        display: none;
    }

    .title-wrapper, .subtitle-cat-wrapper, .subtitle-in-content {
        margin-left: 5%;
    }
}

.profile-details-row {
    margin: 0 0 0 5%;
}

.name-wrapper, .title-wrapper {
    margin-top: 40px;
}

.subtitle-wrapper, .subtitle-cat-wrapper {
    margin-top: 5px;
    margin-bottom: 10px;
}

.subtitle-in-content {
    margin-top: 40px;
    margin-bottom: 10px;
}

.social-wrapper {
    display: flex;
    flex-direction: row;
}

.social-wrapper a {
    display: block;
    margin-right: 20px;
    width: 32px;
    height: 32px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.social-wrapper a:hover, .social-wrapper a:focus {
    filter: invert(60%) sepia(19%) saturate(5173%) hue-rotate(189deg) brightness(109%) contrast(98%);
}

#social-twitter {
    background-image: url("../img/icons/twitter.svg");
}

#social-github {
    background-image: url("../img/icons/github.svg");
}

#social-kaggle {
    background-image: url("../img/icons/kaggle.svg");
    height: 31px;
}

#social-medium {
    background-image: url("../img/icons/medium-m.svg");
}

#social-linkedin {
    background-image: url("../img/icons/linkedin-in.svg");
    margin-top: 1px;
}

#social-email {
    background-image: url("../img/icons/envelope.svg");
    margin-top: 1px;
}

.nav-item {
    display: flex;
    justify-content: center;
    margin: 10px 50px;
}

.bg-dark {
    background-color: #2c2f31 !important;
}

.bg-dark .card-header {
    background-color: #2a2d2f;
}

.card-bg-image {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

#project-wallonia-ml {
    background-image: url("../img/thumbnails/wallonia_ml.webp");
}

#project-zimmo {
    background-image: url("../img/thumbnails/zimmo_cover.webp");
}

#project-deep-writing {
    background-image: url("../img/thumbnails/deep_detect_handwriting.webp");
}

#project-real-estate {
    background-image: url("../img/thumbnails/real-estate-analysis_cover.webp");
}

#project-red-wine {
    background-image: url("../img/thumbnails/red-wine_cover.webp");
}

#project-discord-bot {
    background-image: url("../img/thumbnails/discord-bot_cover.webp");
}

#project-compressed-blocks {
    background-image: url("../img/thumbnails/compressed-blocks_cover.webp");
}

#lib-lidario {
    background-image: url("../img/thumbnails/lidario_cover.webp");
}

#lib-pd-similarity {
    background-image: url("../img/thumbnails/pandas-similarity_cover.webp");
}

#writing-medium-library {
    background-image: url("../img/thumbnails/medium_library_article.webp");
}

.a-card, .a-card:hover, .a-card:focus {
    text-decoration: none;
    color: inherit;
}

.a-card p {
    margin-bottom: 0.60rem;
}

.a-card .card-body {
    padding-bottom: 0.7rem !important;
}

.a-card-image {
    width: 33.33%;
}

.card-header {
    display: flex;
    justify-content: space-between;
}

.img-badges img {
    margin-right: 10px;
}

.img-symbol {
    display: flex;
    justify-content: space-between;
}

.img-symbol span {
    display: block;
}

.img-symbol img {
    margin-top: -5px;
    margin-right: 3px;
    height: 20px;
}

.img-symbol span img:last-child {
    margin-right: 0;
}

.in-category-hr {
    margin-top: 48px;
}

.nav-bottom {
    margin-top: 20px;
    margin-bottom: 48px;
}