
<!-- Profile picture -->
<div class="profile-picture col-md-3">
    <img src="./assets/img/joffrey_bienvenu.webp" class="profile-circle mx-auto d-block" alt="{{ site.full_name }}">
</div>

<!-- Profile details -->
<div class="profile-details col-md-9">
    <div class="profile-details-row row">

        <div class="name-wrapper col-xs-12">
            <h1>{{ site.full_name }}</h1>
        </div>

        <div class="subtitle-wrapper col-xs-12">
            <h2>Studying Machine Learning @<a href="https://becode.org/">BeCode</a>, developing <a href="https://lidario.readthedocs.io/">Python libraries</a>, traveling around Colombia.</h2>
        </div>

        <div class="social-wrapper col-xs-12">
            <a href="https://twitter.com/{{ site.twitter_username }}" id="social-twitter" title="@{{ site.twitter_username }}"></a>
            <a href="https://github.com/{{ site.github_username }}" id="social-github" title="github/{{ site.github_username }}"></a>
            <a href="https://medium.com/@{{ site.medium_username }}" id="social-medium" title="@{{ site.medium_username }}"></a>
            <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}/" id="social-linkedin" title="in/{{ site.linkedin_username }}"></a>
            <a href="mailto:{{ site.email }}" id="social-email" title="{{ site.email }}"></a>
        </div>
    </div>
</div>