
<!-- Profile picture -->
<div class="profile-picture col-md-3">
    <img src="./assets/img/max.jpg" class="profile-circle mx-auto d-block" alt="{{ site.full_name }}">
</div>

<!-- Profile details -->
<div class="profile-details col-md-9">
    <div class="profile-details-row row">

        <div class="name-wrapper col-xs-12">
            <h1>{{ site.full_name }}</h1>
        </div>

        <div class="subtitle-wrapper col-xs-12">
            <h2>Studying Machine Learning and Deep Learning @<a href="https://becode.org/">BeCode</a>.</h2>
        </div>

        <div class="social-wrapper col-xs-12">

            <a href="https://github.com/{{ site.github_username }}" id="social-github" title="github/{{ site.github_username }}"></a>

            <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}/" id="social-linkedin" title="in/{{ site.linkedin_username }}"></a>
            <a href="mailto:{{ site.email }}" id="social-email" title="{{ site.email }}"></a>
        </div>
    </div>
</div>